:root {
  --blue: #00C2FF;
  --purple: #C451FA;
  --gold: #E3B204;
  --green: #47FD4E;
  --orange: #FD8E0C;
  --grey: #444444;
  --black: #000000;
  --white: #FCFCFC;
}

*{
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: var(--black);
}

.wrapper {
  position: relative; /*for absolute positioning*/
  /* make it a square for perfect circle */
  width: 100px;
  height: 100px;

  background: var(--black);
}

.health {
  z-index: 1;
  width: 100%;
  height: 100%;
}

.poison {
  position: absolute;
  top: 12.5%;
  left: 12.5%;
  z-index: 2; 
  width: 75%;
  height: 75%;

  border-radius: 50%;
}

.h-pie, .p-pie {
  position: absolute;
  width: 50%;
  height: 100%;
  border: 5px solid var(--green);
}

.p-pie {
  /* reset border color */
  border: 5px solid var(--orange);
}

#health-spinner, #poison-spinner {
  border-radius: 125px 0 0 125px;
  border-right: none;
  transform-origin: 100% 50%;
  transition: all ease .5s;
}

#health-filler {
  border-radius: 0 125px 125px 0;
  z-index: 100;
  border-left: none;
  left: 50%;
  opacity: 1;
}

#poison-filler {
  border-radius: 0 125px 125px 0;
  z-index: 100;
  border-left: none;
  left: 50%;
  opacity: 0;
}

#health-mask {
  width: 50%;
  height: 100%;
  position: absolute;
  opacity: 0;
  background: var(--black);
}

#poison-mask {
  width: 50%;
  height: 100%;
  position: absolute;
  opacity: 1;
  background: var(--black);
  /* clip left side as to not interfere with the health bar */
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}