*{
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: black;
}

/* #health {
  position: absolute;
  z-index: 400;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 4rem;
  color: white;
} */

.wrapper {
  position: relative; /*for absolute positioning*/
  /* make it a square for perfect circle */
  width: 100px;
  height: 100px;

  /* display: flex;
  justify-content: center;
  align-items: center; */

  /* margin: 0 auto; */

  background: black;
}

.health {
  /* position: relative; */
  z-index: 1;
  width: 100%;
  height: 100%;
}

.poison {
  position: absolute;
  top: 12.5%;
  left: 12.5%;
  z-index: 2; 
  width: 75%;
  height: 75%;

  border-radius: 50%;
}

.h-pie, .p-pie {
  position: absolute;
  width: 50%;
  height: 100%;
  /* background: #08C; */
  border: 5px solid #47FD4E;
}

.p-pie {
  /* reset border color */
  border: 5px solid #FD8E0C;
}

#health-spinner, #poison-spinner {
  border-radius: 125px 0 0 125px;
  /* z-index: 2; */
  border-right: none;
  transform-origin: 100% 50%;
  transition: all ease .5s;
}

#health-filler {
  border-radius: 0 125px 125px 0;
  z-index: 100;
  border-left: none;
  left: 50%;
  opacity: 1;
}

#poison-filler {
  border-radius: 0 125px 125px 0;
  z-index: 100;
  border-left: none;
  left: 50%;
  opacity: 0;
}

#health-mask {
  width: 50%;
  height: 100%;
  position: absolute;
  z-index: 2;
  opacity: 0;
  background: black;
}

#poison-mask {
  width: 50%;
  height: 100%;
  position: absolute;
  z-index: 2;
  opacity: 1;
  background: black;
  /* clip left side as to not interfere with the health bar */
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}